<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Fill The {{entityName}} Name</ng-template>
      <div class="centered-step">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [formControl]="nameControl">
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
  </mat-step>
   
  <mat-step *ngIf="isPizza">
    <ng-template matStepLabel>Fill the ingredients to your pizza</ng-template>
      <div class="centered-step">
        <app-add-ingredients-to-pizza
          [pizzaName]="nameControl.value"
          [ingredientsControl]="ingredientsControl">
        </app-add-ingredients-to-pizza>
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
  </mat-step>
  <mat-step>
    <div class="centered-step">
    <ng-template matStepLabel>Done</ng-template>
      <p>Your {{entityName}} can be saved</p>
      <div>
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button mat-button color="primary" (click)="saveEntity()">Save</button>
        <button mat-button color="primary" (click)="stepper.reset()">Create New One</button>
      </div>
    </div>
  </mat-step>
  </mat-horizontal-stepper>