<h2>Add Ingredients to {{pizzaName}} Pizza</h2>
<div class="centered-ingredients">
    <mat-form-field>
        <mat-label>Ingredients</mat-label>
        <mat-select [formControl]="ingredientsControl" multiple>
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip *ngFor="let ingredient of ingredientsControl.value"
                [removable]="true" color="primary" selected (removed)="oningredientRemoved(ingredient)">
                {{ ingredient.name }}
                <mat-icon matChipRemove>clear</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-option *ngFor="let ingredient of ingredientList" [value]="ingredient">{{ingredient.name}}</mat-option>
        </mat-select>
      </mat-form-field>
</div>